<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Actor bean-->
    <bean id="actor" name="ll" class="com.stackroute.demo.Actor">
        <constructor-arg name="name" value="abc"/>
        <constructor-arg name="gender" value="male"/>
        <constructor-arg name="age" value="23"/>
    </bean>

    <!--Movie bean autowired by constructor-->
    <bean id="movie1" class="com.stackroute.demo.Movie" autowire="constructor"/>
</beans>