<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Movie bean-->
    <bean id="movie" class="com.stackroute.demo.Movie">
        <property name="actor">
            <!--Actor bean defined inside movie bean to inject dependency-->
            <bean class="com.stackroute.demo.Actor">
                <property name="name" value="abc"/>
                <property name="gender" value="male"/>
                <property name="age" value="23"/>
            </bean>
        </property>
    </bean>
</beans>